body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    /* background: linear-gradient(white, gray); */
    height: 100vh;
    color: #e98a1d;

}

h1 {
    text-shadow: 0px 3px 0px black;
    line-height: 24px;
    transform: rotate(-9deg);
}

#stage {
    text-shadow: 0px 3px 0px black;
    width: 100%;
    height: 60px;
    padding: 30px 0;
    font-size: 50px;
    margin: 0;
}

button {
    margin: 20px;
    cursor: pointer;
    border: 0;
    padding: 8px 16px;
    border-radius: 10px;
    background: #e98a1d;
    color: white;
    font-family: inherit;
    font-size: 20px
}
.toast {
  visibility: hidden;
  min-width: 200px;
  background-color: #4CAF50;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 12px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  font-weight: bolder;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: visibility 0.3s, opacity 0.3s;
}
.toast.show {
  visibility: visible;
  opacity: 1;
}