body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    background: radial-gradient(circle farthest-corner at center center, #fff8eb 49%, #f7e3d4 100%);
    height: 100vh;
    color: #e98a1d;

}

h1 {
    margin-top: 15%;
    text-shadow: 0px 3px 0px black;
    line-height: 39px;
    font-size: 60px;
    transform: rotate(-9deg);
}

#stage {
    text-shadow: 0px 3px 0px black;
    width: 100%;
    height: 60px;
    padding: 30px 0;
    font-size: 50px;
    margin: 0;
}

#fightButton,
#openPopup {
    margin: 20px;
    cursor: pointer;
    border: 0;
    padding: 8px 16px;
    border-radius: 10px;
    background: #e98a1d;
    color: white;
    font-family: inherit;
    font-size: 20px
}

.toast {
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.155);
    visibility: hidden;
    min-width: 200px;
    background: linear-gradient(135deg, #68a172 17%, #419552 100%);
    color: rgb(38, 33, 33);
    text-align: center;
    border-radius: 6px;
    padding: 12px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    font-size: 28px;
    font-weight: bolder;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: visibility 0.3s, opacity 0.3s;
}

.toast.show {
    font-size: 28px;
    visibility: visible;
    opacity: 1;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}
.popupContent {
    background: #fff8eb;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    position: relative;
    width: 80%;
    max-width: 600px;
}