body{
    margin: 0;
    padding: 0;
    font-family: 'Permanent Marker', cursive;
    height: 100vh;
    color:#e98a1d ;
}
h1{
    text-shadow: 0px 3px 0px black;
    line-height: 1.2em;
    transform: rotate(-3deg);

}
#stage {
    width: 100%;
    height: 60px;
    padding: ;
}